::-webkit-scrollbar {
width: 10px;
height: 18px;
}
::-webkit-scrollbar-track {
background-color: #F8FAFC;
border-radius: 10px;
}
::-webkit-scrollbar-thumb {
background: #CBD5E1;
border-radius: 10px;
width: 130px;
}