body{
  background-color: #FAFAFA;
}

header{
  height: 100px;
  background-color: #001E68;
  padding-left: 50px;
  margin-bottom: 50px;
}

.logo{
  display: block;
  height: 100px;
  line-height: 100px;
  font-size: 36px;
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.main-wrapper{
  text-align: center;
  height: calc(100vh - 150px - 120px);
}

.date-contents{
  height: 250px;
}

.log-contents{
  height: 40%;
}

h1{
  font-size: 30px;
  font-weight: 600;
}

.current-time{
  margin-top: 30px;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 20px;
}

.current-status{
  font-size: 20px;
  font-weight: 300;
  width: 60vw;
  margin: 0 auto;
  padding-bottom: 30px;
  border-bottom: 3px solid #001E68;
}

.log-contents{
  width: 60vw;
  height: calc(100vh - 150px - 120px -270px);
  margin: 20px auto 0;
}

.log-contents h2{
  margin-top: 0;
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: left;
}

.log-list{
  height: 100%;
  width: 50vw;
  margin: 0 auto;
  text-align: left;
  overflow-y: scroll;
}

.log-list-element{
  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000000;
}

.time{
  width: 20%;
  margin-left: 5%;
}

.event{
  width: 75%;
}

footer{
  margin-top: 50px;
  height: 70px;
  background-color: #5A606E;
  color: #BFBFBF;
  text-align: center;
  font-weight: 300;
  line-height: 70px;
}